/* CSS HEX */
--baby-pink: #f7c1bbff;
--rose-taupe: #885a5aff;
--charcoal: #353a47ff;
--dark-sea-green: #84b082ff;
--dogwood-rose: #dc136cff;

/* CSS HSL */
--baby-pink: hsla(6, 79%, 85%, 1);
--rose-taupe: hsla(0, 20%, 44%, 1);
--charcoal: hsla(223, 15%, 24%, 1);
--dark-sea-green: hsla(117, 23%, 60%, 1);
--dogwood-rose: hsla(333, 84%, 47%, 1);

/* SCSS HEX */
$baby-pink: #f7c1bbff;
$rose-taupe: #885a5aff;
$charcoal: #353a47ff;
$dark-sea-green: #84b082ff;
$dogwood-rose: #dc136cff;

/* SCSS HSL */
$baby-pink: hsla(6, 79%, 85%, 1);
$rose-taupe: hsla(0, 20%, 44%, 1);
$charcoal: hsla(223, 15%, 24%, 1);
$dark-sea-green: hsla(117, 23%, 60%, 1);
$dogwood-rose: hsla(333, 84%, 47%, 1);

/* SCSS RGB */
$baby-pink: rgba(247, 193, 187, 1);
$rose-taupe: rgba(136, 90, 90, 1);
$charcoal: rgba(53, 58, 71, 1);
$dark-sea-green: rgba(132, 176, 130, 1);
$dogwood-rose: rgba(220, 19, 108, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-right: linear-gradient(90deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-bottom: linear-gradient(180deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-left: linear-gradient(270deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-top-right: linear-gradient(45deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-bottom-right: linear-gradient(135deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-top-left: linear-gradient(225deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-bottom-left: linear-gradient(315deg, #f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);
$gradient-radial: radial-gradient(#f7c1bbff, #885a5aff, #353a47ff, #84b082ff, #dc136cff);